<div>
    <h1 class="text-info pt-4">Congratulations! You are one step closer to amazing food.</h1>
    <p class="pb-3">We have received your order and your payment will be processed soon.</p>
    <img src="https://kravchenko98.blob.core.windows.net/mango/order.PNG" width="80%"/>
</div>